{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<h1>Mes commandes</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Roles</th>
            </tr>
        </thead>
        <tbody>
            {% for commande in commandes %}
                <tr>
                <th>{{commande.id}}</th>
                <th scope="row">{{commande.date}}</th>
                <td>{{commande.}}</td>
                <td>{{commande.roles|join(', ')}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
