{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}
<h1>Changer vos informations personnelles</h1>
{{ form_start(form) }}                  
{{ form_end(form) }}
{% endblock %}