{% extends 'base.html.twig' %}

{% block title %}{{"registration.edit.account"|trans}}{% endblock %}

{% block body %}
<h1>{{"registration.edit.title"|trans}}</h1>
{{ form_start(form) }}                  
{{ form_end(form) }}
{% endblock %}