{% extends 'base.html.twig' %}

{% block title %}{{registration.edit.account}}{% endblock %}

{% block body %}
<h1>{{registration.edit.title}}</h1>
{{ form_start(form) }}                  
{{ form_end(form) }}
{% endblock %}