{% extends 'base.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
    <h1>{{product.create.title}}</h1>

    {{ include('produit/_form.html.twig') }}

    <a href="{{ path('home') }}">{{product.new.back}}</a>
{% endblock %}
