{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<h1>Commandes non acheté</h1>
    {% if commandes is not null %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Numéro du panier</th>
                <th scope="col">Utilisateur</th>
                <th scope="col">Contenu</th>
            </tr>
        </thead>
        <tbody>
            {% for commande in commandes %}
                <tr>
                    <th>{{commande.id}}</th>
                    <th>{{commande.user.nom}}</th>
                    {% if commande.contenuPaniers|length < 1 %} {# si le panier n'a pas encore de contenu #}
                        <th>L'utilisateur n'as pas encore ajouté de produit</th>
                    {% else %}
                    <th>
                        {% for produit in commande.contenuPaniers %}
                            | {{produit.produit.nom}} |
                        {% endfor %}
                    </th>
                {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Il n'y aucune commande en cours</p>
    {% endif %}
    
{% endblock %}
