{% extends 'base.html.twig' %}
{% block title %}Error tout court{% endblock %}

    
{% block body %}

    <img class="d-block m-auto" src="{{asset('error.jpg')}}">

    <p class="text-center" style="font-size:25px;">Oops, y'a une erreur, réssaye plus tard</p>
{% endblock %}
