{% extends 'base.html.twig' %}
{% block title %}Error 404{% endblock %}
{% block body %}

    <img class="d-block m-auto" src="{{asset('error.jpg')}}">

    <p class="text-center" style="font-size:25px;">Oops, page Introvable negrillons</p>
{% endblock %}